<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Calculator</title>

    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
        integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
</head>

<body>
    <h1>BMI CALCULATOR</h1>

    <div class="main">
        <form class="pure-form" method="POST" action="/">
            Enter your name: <br>
            <input type="text" name="username"><br> <br>
            Enter your weight in Kg: <br>
            <input type="text" name="weight"> <br> <br>
            Enter your height in cms: <br>
            <input type="text" name="height"><br><br>

            <button type="submit" class="pure-button pure-button-primary" value="Submit">Submit</button>

        </form>
    </div>

    <div class="main">
        {% if bmi %}
            <p>{{ name }}, your BMI is {{ bmi }}.</p>
        {% endif %}
    </div>

</body>

</html>